.image {
    height: 170px;
    width: 120px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    margin-top: 50px;
}

.buttons__button {
    border: 2px black solid;
    background-color: red;
    color: white;
    border-radius: 5px;
    margin-right: 200px;
}

.buttons__button:last-child {
    margin-right: 0px;
}

.table__cards-shirt {
    position: relative;
}

.table__cards {
    position: relative;
}

.table {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
}

body {
    background-color: green;
}

.image-size {
    height: 100%;
    width: 100%;
    position: absolute;
}